<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myfishermanapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyFishermanApplication"
        android:supportsRtl="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        tools:targetApi="31">

        <activity
            android:name=".view.KnowledgeActivity"
            android:exported="false"
            android:label="@string/title_activity_knowledge"
            android:theme="@style/Theme.MyFishermanApplication" />

        <activity
            android:name=".view.GalleryActivity_backup"
            android:exported="false"
            android:label="@string/title_activity_gallery"
            android:theme="@style/Theme.MyFishermanApplication" />

        <activity
            android:name=".view.ListActivity"
            android:exported="false"
            android:label="@string/title_activity_list"
            android:theme="@style/Theme.MyFishermanApplication" />

        <activity
            android:name=".view.InputActivity"
            android:exported="false"
            android:label="@string/title_activity_input"
            android:theme="@style/Theme.MyFishermanApplication" />

        <activity
            android:name=".view.StatsActivity"
            android:exported="false"
            android:label="@string/title_activity_stats"
            android:theme="@style/Theme.MyFishermanApplication" />


        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyFishermanApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
